@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer utilities {
  .hide-scrollbar {

    /* Hide scrollbar in WebKit-based browsers (Chrome, Safari, Edge) */
    &::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar in Firefox */
    scrollbar-width: none;
    -ms-overflow-style: none;
    /* Internet Explorer 11 */
  }
}